# Server
SERVER_ENVIRONMENT=
SERVER_API_KEY=

# Cloudflare
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_VENDOR_PRODUCT_DATA_BUCKET_NAME=

# Gemini
GOOGLE_GEMINI_API_KEY=

# Product
PRODUCT_FILE_STREAM_MAX_FILE_LINE_BATCH_SIZE=
PRODUCT_CATEGORY_MAX=